<%# <body style="text-align: center !important; width: 60%; margin: 0 auto; margin: auto !important;"> %>
<h1 style="text-align: center !important"> Welcome to the Homepage </h1>

<%=link_to 'Articles listing', articles_path %> ||
<%= link_to 'About Page', about_path %> ||
<%= link_to 'Sign Up to the website', signup_path %> ||
<%= link_to 'Log in', login_path %>
<%# </body> %>